.slide-enter-active,
.slide-leave-active {
    transition: all 0.8s ease-out;
}


.slide-enter-to {
    position: absolute;
    right: 0;
    opacity: 1;
}


.slide-enter-from {
    position: absolute;
    right: -100vw;
    opacity: 0;
}


.slide-leave-to {
    position: absolute;
    left: -100vw;
    opacity: 0;
}


.slide-leave-from {
    position: absolute;
    left: 0;
    opacity: 1;
}